language: perl
perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"

env:
  - "TEST_POD=1"

install:
  - "cpanm -n Test::More Test::Simple Test::Harness Test::Pod::Coverage"
  - "cpanm -n Crypt::SSLeay"
  - "cpanm -n SOAP::Lite"
  - "cpanm -n Time::Piece"
  - "cpanm -n --installdeps ."

notifications:
  email: false
